body{
	background-color: #cccccc;
}
.container .navbar-brand #logo-text{
	margin:0;
	padding:0;
}

.navbar-brand a:hover, .navbar-brand a:focus{text-decoration: none;}
#nav-list{
	text-align: center;
	text-transform: uppercase;
	vertical-align: center;
}
#nav-list{
	background-color: #551c3e;
	color:#000000;
	font-size: 1.2em;
	font-weight: bold;
}
#nav-list a hr{
	margin-bottom: 0;
	
}
#heading{
	color: #f57c13;
}
#section1{
background-color: #cccccc;
color:black;
width: 100%;
height: 1000px;
}